# UNIVERSAL
mk() {
    mkdir -p "$@" && cd "$@"
	echo "made new directory $@"
}
setenv () {
	export NODE_ENV=$1
	echo "export NODE_ENV=$1"
}

# PYTHON
pyvenv () {
	python3 -m venv env
	. ./env/bin/activate
	echo "python -m venv env; . ./env/bin/activate"
} # Setting up a default "env" folder as the python virtual environment and activating it


# DOCKER
function dc-fn {
        docker-compose $*
}
alias dc='dc-fn' #Yes, I know I'm overriding the dc command for doing in-terminal calculations.. but seriously.

function rev {
	cd ~/Repositories/LocalEnvironment/$1
}